:root {
  --altura_header: 80px;
}
html{
  scroll-behavior: smooth;
}
[id]{
  scroll-margin-top: 120px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
/*Donaciones*/
.donations {
  position: relative;
  background-image: url("../img/Foto2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f2f2f2;
  padding: 20px;
  z-index: 0;
  background-color: #f2f2f2;
}
.donations::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.donations > * {
  position: relative;
  z-index: 1;
}
.donations h2 {
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 10% 90%;
  justify-self: center;
  text-align: center;
  gap: 10px;
}
h2 svg {
  grid-column: auto;
  width: 50px;
  height: 50px;
  color: rgb(183, 49, 44);
  align-self: center;
}
.donations p {
  font-size: 20px;
  padding-bottom: 10px;
  align-items: center;
  width: 80%;
  justify-self: center;
  margin: 50px 0 0;
  text-align: center;
}
.donations button {
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 40px;
  background-color: rgba(240, 128, 128, 0.809);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 20px 180px; 
  margin: 50px 0 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  justify-self: center;
  font-size: 16px;
}
iframe {
  width: 100%;
}
button svg {
  grid-column: auto;
  width: 50px;
  height: 20px;
  color: rgb(183, 49, 44);
}
/*Inscripcion*/
.joinSection {
  background-color: rgb(183, 49, 44);
  color: #f2f2f2;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.descripcion {
  display: grid;
  grid-template-rows: auto;
  width: 80%;
  text-align: center;
  margin: 0 10%;
}
.descripcion p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  justify-self: center;
}
.descripcion h2 {
  font-size: 28px;
  padding-top: 10px;
}
.form{
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
}
.joinCosts {
  padding: 30px 0;
  background-color: rgba(242, 242, 242, 0.2);
  border-radius: 30px;
  width: 350px;
  justify-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.joinCosts h3 {
  text-align: center;
  font-size: 24px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 20px 300px;
  justify-content: center;
  align-items: center;
}
.joinCosts svg{
  width: 40px;
  height: 40px;
}
.joinPrice {
  margin: 0 20px;
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 150px 150px;
}
.joinPrice p {
  font-size: 20px;
  color: rgb(222, 208, 21);
}
.line{
  margin-top: 5px;
  background-color: #f2f2f2;
  width: 300px;
  height: 1px;
  z-index: 20;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.joinForm {
  margin: 20px 20px;
  text-align: center;
  padding: 30px 0;
  background-color: rgba(242, 242, 242, 0.2);
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  width: 350px;
  justify-self: center;
}
.joinForm h3{
  font-size: 24px;
  display: grid;
  grid-template-columns: 12% 90%;
  justify-self: center;
  align-items: center;
}
.joinForm svg{
  width: 40px;
  align-self: self-start;
  height: 40px;
}
.N-C{
  font-size: 10px;
  text-align: left;
  padding: 10px 0 2px 40px;
}
.E{
  font-size: 10px;
  text-align: left;
  padding: 10px 0 2px 40px;
}
.T{
  font-size: 10px;
  text-align: left;
  padding: 10px 0 2px 40px;
}
.M{
  font-size: 10px;
  text-align: left;
  padding: 10px 0 2px 40px;
}
.Nombre-Completo {
  display: grid;
  grid-template-columns: 150px 150px;
  justify-content: center;
}
.Nombre {
  background-color: rgba(242, 242, 242, 0.30);
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  height: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.Apellido {
  background-color: rgba(242, 242, 242, 0.30);
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  height: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.Mensaje-Buttom{
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  gap: 20px;
}
.Email {
  background-color: rgba(242, 242, 242, 0.30);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  width: 280px;
  height: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.Teléfono {
  background-color: rgba(242, 242, 242, 0.30);
  border: none;
  border-radius: 10px;
  width: 280px;
  height: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.Mensaje{
  background-color: rgba(242, 242, 242, 0.30);
  border: none;
  border-radius: 10px;
  width: 280px;
  height: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 0 0 70px 0;
}
.Eviar{
  border: none;
  width: 200px;
  height: 30px;
  background-color: darkgoldenrod;
  color: white;
  justify-content: center;
  display: grid;
  grid-template-columns:170px 20px;
  align-items: center;
  border-radius: 10px;
}
.Eviar svg{
  color: white;
  height: 20px;
  justify-self: center;
  align-self: center;
}
.Email::placeholder {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  padding: 2px 5px;
}

.Teléfono::placeholder {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  padding: 2px 5px;
}

.Nombre::placeholder {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  padding: 2px 5px;
}

.Apellido::placeholder {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  padding: 2px 5px;
}
.Mensaje::placeholder {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  padding: 2px 5px;
}
@media (min-width: 900px) {
  .descripcion{
    height: 150px;
  }
  .descripcion p{
    font-size: 20px;
    width: 500px;
  }
  .descripcion h2{
    font-size: 34px;
  }
  .form{
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
  }
  .joinCosts{
    width: 350px;
    margin: 20px;
    height: 200px;
    
  }
  .joinPrice{
    margin-top: 30px;
  }
  .joinForm{
    width: 400px;
  }
  .Nombre-Completo{
    display: grid;
    grid-template-columns: 200px 200px;
  }
  .Email{
    width: 380px;
  }
  .Teléfono{
    width: 380px;
  }
  .Mensaje{
    width: 380px;
  }
  .N-C{
  font-size: 10px;
  text-align: left;
  padding: 10px 0 2px 15px;
}
.E{
  font-size: 10px;
  text-align: left;
  padding: 10px 0 2px 15px;
}
.T{
  font-size: 10px;
  text-align: left;
  padding: 10px 0 2px 15px;
}
.M{
  font-size: 10px;
  text-align: left;
  padding: 10px 0 2px 15px;
}
}