* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(183, 49, 44);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

.logo, img {
    width: 150px;
}

.heroSection {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4%;
    font-size: 16px;
    z-index: 0;
    overflow: hidden;
}

.heroSection::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('images/Foto1.jpg');
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.heroSection::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

button, #button {
    background-color: rgb(183, 49, 44);
    border-color: rgb(183, 49, 44);
    border-style: solid;
    border-radius: 10%;
    color: white;
    margin: 2%;
    padding: 2%;
}

.separator {
    width: 100%;
}

.about h2 {
    color: rgb(183, 49, 44);
}

.about p {
    margin: 3%;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.eventContent{
    border-style: solid;
    border-radius: 5%;
    border-color: #ffcc0071;
    background-color: #ffcc0071;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.eventContent .iconContent {
    background-color: rgb(183, 49, 44);
    border-style: solid;
    border-color: rgb(183, 49, 44);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 30px;
    color: white;
}

.eventContent h3 {
    color: rgb(183, 49, 44);;
}

.speakers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.speakerCard {
    border-color: #ffcc0071;
    border-style: solid;
    border-radius: 5%;
    background-color: #ffcc0071;
    margin: 4%;
    width: 100%;
}

.speakerCard img {
    width: 100%;
    border-radius: 5%;
}

.speakers h2 {
    color: rgb(183, 49, 44);
}

.speakerCard h3 {
    color: rgb(183, 49, 44);
    margin: 2%;
}

.speakerCard h4 {
    margin: 3%;
}



